/* *::after,*::before{
    box-sizing: border-box;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    /* height: fit-content; */
}
a {
    color: inherit;
    text-decoration: none;
}
/* NAVBAR-STYLE */

.navbar-container{
    height: 80px;
    width: 100%;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

/* !Optional */
/* .logo >img{
    height: 70px;
    width: 50px;
} */

.logo{
    font-weight: 900;
    font: size 30px; ;
}

.nav-links>a{
    margin: 5px 10px;
    font-weight: 600;
    border: 1px solid white;
    padding:  5px 10px;
    border-radius: 4px;
    transition: 0.2s;
}
.nav-links >a:hover{
    background-color: white;
    color: black;
}

/* Hero container Style */

.hero-container{
    height: calc(100vh - 80px);
    width: 100%;  
    /* display: grid; */
    /* place-items: center; */

}

.hero-container>header>h1{
    font-size: 100px;
    text-align: center;

    margin-top: 150px;
}
.hero-container>p{
    text-align: center;
    padding: 10px 50px;
    width: 70vh;
    margin: 20px auto;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn-container> button{
    padding: 10px 30px;
    font-size: 10px;
    font-weight: 800;
    border-radius: 8px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn-container > button:hover{
    background-color: rgb(5, 5, 212);
    transform: scale(1.1);
}